.contact
    
    height: 100vh
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -41.99%, #000000 100%), url('../assets/photos/contact/bg.jpg')
    mix-blend-mode: normal
    background-size: cover
    background-position: top

    display: flex
    align-items: flex-end

    .container
        height: auto

        .button
            margin-top: 1rem

            // display: none
            font-size: $button-size !important
            padding: rem(25px) rem(40px) !important
            font-weight: 500
            border: 2px solid $whiteish

            transition: color 0.2s ease-in-out
            transition: background 0.2s ease-in-out

            &.secondary
                background-color: rgba(0, 0, 0, 0.2)
                color: $whiteish

                &:hover 
                    background-color: $whiteish
                    color: $blackish
