.navbar
    // transparent
    background-color: rgba(0, 0, 0, 0.95) 
    // border-bottom: 1px solid $greyish


    .navbar-item
        color: $whiteish
        margin: 0 0.5rem  
        font-size: $nav-size
        font-weight: 500

        transition: color 0.2s ease-in-out

        &:hover
            background-color: rgba(0, 0, 0, 0.1)
            color: $greyish

        img
            width: 140px
            max-height: 140px
        
        .button
            border: 2px solid $whiteish
            // border: none
            padding: rem(20px) rem(25px) !important
            transition: color 0.2s ease-in-out
            transition: background 0.2s ease-in-out

            &:hover 
                // background: #303030
                background: rgba(0, 0, 0, 0.2)
                color: $whiteish


    .navbar-burger
        color: $whiteish
        transition: color 0.2s ease-in-out
        // thicker

        &:hover
            color: $greyish


