@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700&display=swap");
.navbar {
  background-color: rgba(0, 0, 0, 0.01);
  transition: background-color 0.5s ease-in-out !important;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.95);
}
.navbar .navbar-item {
  color: #fff;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
.navbar .navbar-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #bfbfbf;
}
.navbar .navbar-item img {
  width: 140px;
  max-height: 140px;
}
.navbar .navbar-item .button {
  border: 2px solid #fff;
  padding: 1.25rem 1.5625rem !important;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.navbar .navbar-item .button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.navbar .navbar-burger {
  color: #fff;
  transition: color 0.2s ease-in-out;
}
.navbar .navbar-burger:hover {
  color: #bfbfbf;
}

.main {
  height: 120vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(50% 52.39% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000000 100%), url("../assets/photos/main/bg.jpg") no-repeat;
  background-blend-mode: normal, darken, normal;
  mix-blend-mode: normal;
  background-size: cover;
  background-position: top;
}
.main .navbar-burger span {
  width: 24px;
  height: 2px;
}
.main .navbar-burger {
  margin-right: 1rem;
  margin-top: 0.25rem;
}
.main .navbar-burger span:nth-child(2) {
  top: calc(50% + 0px);
}
.main .navbar-burger span:nth-child(3) {
  top: calc(50% + 6px);
}
.main .navbar-burger.is-active span:nth-child(2) {
  top: calc(50% - 1px);
}
.main .navbar-burger.is-active span:nth-child(3) {
  top: calc(50% + 4px);
}
.main .container {
  height: 40vh;
}
.main .container .title {
  font-size: 3.75rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.main .container .subtitle {
  text-align: center;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #fff;
}
.main .container .field {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.main .container .field .buttons {
  display: flex;
  gap: 3.125rem;
}
.main .container .field .buttons .button {
  font-size: 1.125rem !important;
  padding: 1.5625rem 2.5rem !important;
  font-weight: 500;
  color: #000;
  border: 2px solid #fff;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.main .container .field .buttons .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.main .container .field .buttons .button.secondary {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.main .container .field .buttons .button.secondary:hover {
  background-color: #fff;
  color: #000;
}
.main .socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 9.375rem;
}
.main .socials .socials-icons {
  display: flex;
  gap: 3.125rem;
  margin-top: -13px;
}
.main .socials .socials-icons .social-icon {
  color: #fff;
}
.main .socials .socials-icons .social-icon:hover {
  color: #bfbfbf;
}
.main .socials .line {
  display: inline-block;
  width: 40%;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}

.portfolio img {
  margin-bottom: 0.5rem;
  transition: filter 0.5s ease-in-out;
  filter: brightness(0.9);
  border-radius: 5px;
}
.portfolio img:hover {
  filter: brightness(0.5);
}
.portfolio .botao {
  display: flex;
  justify-content: center;
}
.portfolio .botao .button {
  font-size: 1.125rem !important;
  padding: 1.5625rem 2.5rem !important;
  font-weight: 500;
  border: 2px solid #fff;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.portfolio .botao .button.secondary {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.portfolio .botao .button.secondary:hover {
  background-color: #fff;
  color: #000;
}

.sobre {
  height: 120vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -41.99%, #000000 100%), url("../assets/photos/sobre/bg.png");
  mix-blend-mode: normal;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: flex-end;
}
.sobre .container {
  height: auto;
}
.sobre .container p {
  text-align: center;
  max-width: 766px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #bfbfbf;
}
.sobre .container p:nth-of-type(2) {
  margin-top: 2rem;
}
.sobre .container .botao {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.sobre .container .botao .button {
  font-size: 1.125rem !important;
  padding: 1.5625rem 2.5rem !important;
  font-weight: 500;
  border: 2px solid #fff;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.sobre .container .botao .button.secondary {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.sobre .container .botao .button.secondary:hover {
  background-color: #fff;
  color: #000;
}

.servicos .texts .title {
  padding: 0 0.625rem;
  color: #fff;
  font-weight: 600;
  font-size: 28px;
}
.servicos .texts .subtitle {
  padding: 0 0.625rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #bfbfbf;
}
.servicos .texts li {
  font-weight: 400;
  color: #bfbfbf !important;
}
.servicos .image-1 {
  height: 31.25rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.35%, #000000 100%), url("../assets/photos/servicos/1a.jpg") no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  transition: filter 0.5s ease-in-out;
}
.servicos .image-1:hover {
  filter: brightness(0.5);
}
.servicos .image-2 {
  height: 31.25rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.35%, #000000 100%), url("../assets/photos/servicos/2a.jpg") no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  transition: filter 0.5s ease-in-out;
}
.servicos .image-2:hover {
  filter: brightness(0.5);
}
.servicos .image-3 {
  height: 31.25rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.35%, #000000 100%), url("../assets/photos/servicos/3a.jpg") no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  transition: filter 0.5s ease-in-out;
}
.servicos .image-3:hover {
  filter: brightness(0.5);
}
.servicos .botao {
  margin-top: 2rem;
}
.servicos .botao .button {
  font-size: 1.125rem !important;
  padding: 1.5625rem 2.5rem !important;
  font-weight: 500;
  border: 2px solid #fff;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.servicos .botao .button.secondary {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.servicos .botao .button.secondary:hover {
  background-color: #fff;
  color: #000;
}

.parceiros .slider div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  height: 130vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -41.99%, #000000 100%), url("../assets/photos/contact/bg.jpg");
  mix-blend-mode: normal;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: flex-end;
}
.contact .container {
  height: auto;
}
.contact .container .input, .contact .container .select, .contact .container .textarea {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}
.contact .container .input:focus, .contact .container .select:focus, .contact .container .textarea:focus {
  background: white;
  color: black;
}
.contact .container .input.active, .contact .container .select.active, .contact .container .textarea.active {
  background: white;
  color: black;
}
.contact .container .formulario {
  margin-top: 2rem;
}
.contact .container .label {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.contact .container input::placeholder {
  color: #bfbfbf;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.contact .container textarea::placeholder {
  color: #bfbfbf;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.contact .container .button {
  margin-top: 1rem;
  font-size: 1.125rem !important;
  padding: 1.5625rem 2.5rem !important;
  font-weight: 500;
  border: 2px solid #fff;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.contact .container .button.secondary {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.contact .container .button.secondary:hover {
  background-color: #fff;
  color: #000;
}

.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #fff;
  border-radius: 0 0 10px 10px;
}
.rodape p {
  padding: 1rem 0;
}
.rodape p a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.rodape p a:hover {
  color: #8a39e1;
}
.rodape p span {
  color: red;
}

@media screen and (max-width: 768px) {
  .rodape {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  .rodape p {
    padding: 0;
    margin-bottom: 0.2rem;
  }
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title.is-2 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}
.title.is-2 span {
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 768px) {
  .title.is-2 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  .navbar {
    background-color: #000;
  }
  .navbar-menu {
    background-color: #000;
  }
  .navbar-menu .navbar-item {
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
  }
  .navbar-menu .navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #bfbfbf;
  }
  .navbar-menu .navbar-item img {
    width: 140px;
    max-height: 140px;
  }
  .navbar-menu .navbar-item .button {
    border: 2px solid #fff;
    padding: 1.25rem 1.5625rem !important;
    transition: color 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
  }
  .navbar-menu .navbar-item .button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .main .container .title {
    font-size: 2.25rem;
  }
  .main .container .subtitle {
    font-size: 1.125rem;
  }
  .main .container .field .buttons {
    gap: 1.875rem;
  }
  .main .container .field .buttons .button {
    font-size: 1rem !important;
    padding: 1.25rem 2.1875rem !important;
  }
  .main .socials .socials-icons {
    gap: 0.9375rem;
  }
  .main .socials .line {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  .portfolio .button {
    font-size: 1rem !important;
    padding: 1.25rem 2.1875rem !important;
  }
}
@media screen and (max-width: 768px) {
  .sobre {
    height: 120vh;
  }
  .sobre .container {
    height: auto;
  }
  .sobre .container p {
    font-size: 0.875rem;
  }
  .sobre .container .button {
    font-size: 1rem !important;
    padding: 1.25rem 2.1875rem !important;
  }
}